/* Color varibles */
//#f0f0f0

$bgcolor: #fff!default;
$primarycolor: deeppink!default;
$secondarycolor: deeppink!default;
$darkcolor: #000!default;
$tertcolor: #7f9a44!default;
$textcolor: rgba(0,0,0,.6)!default;
$placeholdercolor: $textcolor!default;
$labelcolor: $textcolor!default;
$mutedcolor: #a9a9a9!default;

/* Fonts */
$primaryfont: 'Roboto', 'Noto', sans-serif;
$linkcolor: #005580!default;

/* Tabs */
$tabtitlecolor: $mutedcolor!default;

/* Others */
$padding: 20px!default;